@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

* {
    font-family: 'Balsamiq Sans', cursive;
    margin: 0;
    padding: 0;
    /* border: 1px red dotted; */
}

body {
    background-color: rgb(56, 56, 56);
    color: white;
}

h1 {
    text-align: center;
    padding: 20px;
}

ul {
    font-size: 2em;
    margin: 0 auto;
    width: max-content;
    padding: 20px;
}

img {
    max-width: 1000px;
    min-width: 500px;
    width: 50%;
    display: block;
    margin: 0 auto;
}